<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4 class="heading">À Propos de Nous</h4>
                <div class="underline"></div>
                <p>
                    Bienvenue sur notre plateforme en ligne dédiée à la prise de rendez-vous médicaux avec des médecins qualifiés. 
                    Planifiez vos consultations, consultez les disponibilités des praticiens et accédez à des soins de qualité, 
                    le tout depuis le confort de votre domicile.


                </p>
                <p>
                    Notre mission est de simplifier et rendre accessible à tous le processus de prise de rendez-vous médicaux. 
                          Que ce soit pour une consultation générale ou un suivi spécialisé,
                     notre plateforme vous aide à trouver le professionnel adapté à vos besoins et à réserver un rendez-vous en toute simplicité.
                </p>
            </div>
            <div class="col-md-4">
                <img src="../../assets/img.jpg" class="w-100 shadow-sm" alt="À Propos de Nous" />
            </div>
        </div>
    </div>
</div>
