<!-- <div class="search-bar">
    <h3>Rechercher un Médecin</h3>
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Nom, spécialité, etc."
    />
    <button (click)="search()">Rechercher</button>
  </div>
  
  <div *ngIf="medecins.length > 0">
    <h4>Résultats :</h4>
    <ul>
      <li *ngFor="let medecin of medecins">
        {{ medecin.nom }} {{ medecin.prenom }} - {{ medecin.specialite?.nom }}
      </li>
    </ul>
  </div>
  <div *ngIf="!medecins.length && searchQuery">
    <p>Aucun médecin trouvé.</p>
  </div>
   -->