<div class="container">
    <div class="row mt-3">
      <div class="col-md-5 mt-3">
        <h5 class="text-primary">Formulaire d'ajout de rendez-vous</h5>
        <div class="card-body shadow py-2">
          <form [formGroup]="rendezvousForm" (ngSubmit)="onSubmit()" class="form-group">
            <div class="mb-3">
              <label for="patient_id">Sélectionnez un medecin :</label>
              <select formControlName="medecin_id" id="medecin_id" class="form-control" required>
                <option *ngFor="let medecin of medecins" [value]="medecin.id">{{ medecin.nom }} {{ medecin.prenom }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="date" class="form-label">Date</label>
              <input type="date" class="form-control" id="date" formControlName="date" required>
            </div>
            <div class="mb-3">
              <label for="heure" class="form-label">Heure</label>
              <input type="time" class="form-control" id="heure" formControlName="heure" required>
            </div>
            <div class="mb-3">
              <label for="lieu" class="form-label">Lieu</label>
              <input type="text" class="form-control" id="lieu" formControlName="lieu" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3 ms-2">Enregistrer</button>
          </form>
        </div>
      </div>
  
      <div class="col-md-7 mt-3">
        <h5 class="text-primary">Liste des rendez-vous</h5>
        <div class="card-body shadow py-2">
          <table class="table table-bordered">
            <thead>
              <tr class="text-center">
                <th class="border-end">Medecin</th>
                <th class="border-end">Date</th>
                <th class="border-end">Heure</th>
                <th class="border-end">Lieu</th>
                <th class="border-end">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rendezvous of rendezvousList" class="text-center">
                <td class="border-end">{{ rendezvous.medecin.nom }} {{ rendezvous.medecin.prenom }}</td>
                <td class="border-end">{{ rendezvous.date }}</td>
                <td class="border-end">{{ rendezvous.heure }}</td>
                <td class="border-end">{{ rendezvous.lieu }}</td>
                <td class="border-end">
                  <a href="javascript:void(0)" class="" (click)="deleteRendezvous(rendezvous.id)">
                    <i class="fa-solid fa-trash text-danger"></i>
                  </a>
                  <a href="javascript:void(0)" class="ms-2" (click)="confirmRendezvous(rendezvous.id)">
                    <i class="fa-solid fa-check text-success"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  