<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Localisation</th>
      </tr>
    </thead>
    <tbody>
      <!-- Exemple de données statiques -->
      <tr>
        <td>1</td>
        <td>Salle A</td>
        <td>2ème étage, </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Salle B</td>
        <td>1er étage, </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Salle C</td>
        <td>Rez-de-chaussée, </td>
      </tr>
    </tbody>
  </table>
  
