<div class="full-screen-bg">
    <div class="overlay">
      <div class="container text-center">
        <h1 class="welcome-title mt-5">Bienvenue sur notre plateforme médicale</h1>
        <div class="about-us mt-4">
          <h2>À propos de nous</h2>
          <p>
            L'Hôpital Dalal Jamm est un établissement de santé de premier plan, dédié à fournir des soins médicaux de haute qualité à tous nos patients. Avec une équipe de professionnels de la santé hautement qualifiés et des équipements de pointe, nous nous engageons à offrir des services médicaux complets et personnalisés. Notre mission est de garantir le bien-être et la santé de chaque individu qui franchit nos portes, en mettant l'accent sur la prévention, le diagnostic précis et le traitement efficace. Chez Dalal Jamm, nous croyons que chaque patient mérite des soins attentifs et compassionnels, et nous nous efforçons de créer un environnement accueillant et rassurant pour tous.
          </p>
        </div>
        <div class="mt-5">
          <a class="btn btn-primary btn-lg mx-2" routerLink="/login">Se connecter</a>
          <a class="btn btn-secondary btn-lg mx-2" routerLink="/register">S'inscrire</a>
        </div>
        <p class="lead mt-4">
          Gérez vos rendez-vous et vos informations médicales en toute simplicité.
        </p>
      </div>
    </div>
  </div>
  