<div class="dashboard-container">
    <header>
      <h1>Tableau de Bord Administrateur</h1>
      <div class="user-info">
        <span>{{ userConnected.nom }}</span>
      </div>
    </header>
    <div class="cards-container">
      <div class="card">
        <h2 class="fw-bold"><strong>Rendez-vous du jour</strong></h2>
        <i class="fa-solid fa-calendar icon-size" aria-hidden="true"aria-hidden="true"></i>
        <p class="mt-2">0</p>
      </div>
      <div class="card">
        <h2><strong>Rendez-vous Confirmés</strong></h2>
        <i class="fa-solid fa-check-circle icon-size" aria-hidden="true"></i>
        <p class="mt-2">0</p>
      </div>
      <div class="card">
        <h2><strong>Rendez-vous Futurs</strong></h2>
        <i class="fa-solid fa-arrow-right icon-size" aria-hidden="true"></i>
        <p class="mt-2">0</p>
      </div>
      <div class="card">
        <h2><strong>Total rappels</strong></h2>
        <i class="fa-solid fa-bell icon-size" aria-hidden="true"></i>
        <p class="mt-2">4</p>
      </div>
      <div class="card">
        <h2><strong>Total des Médecins</strong></h2>
        <i class="fa-solid fa-user  icon-size"></i>
        <p class="mt-2">5</p>
      </div>
      <div class="card">
        <h2><strong>Total des Administrateurs</strong></h2>
        <i class="fa-solid fa-user  icon-size"></i>
        <p class="mt-2">1</p>
      </div>
      <div class="card">
        <h2><strong>Total des Patients</strong></h2>
        <i class="fa-solid fa-user  icon-size"></i>
        <p class="mt-2">25</p>
      </div>
    </div>
  </div>