/* styles.css */
.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa; /* Couleur de fond de la barre de navigation */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
}

.logo-container {
    display: flex;
    align-items: center;
}
.logo-container a{
    list-style: none;
}
.site-logo {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px; /* Espacement entre les liens */
}

.nav-links a {
    color: #333; /* Couleur du texte des liens */
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    transition: color 0.3s; /* Transition pour l'effet de survol */
}

.nav-links a:hover {
    color: #007bff; /* Couleur du texte au survol */
}

@media (max-width: 768px) {
    .site-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    .nav-links a {
        width: 100%;
        text-align: center;
    }
}
