 <!-- <nav class="site-nav"> 
         <div class="logo-container">
            <a routerLink="/accueil"><img src="../../assets/logo dj.png" alt="Centre National Dalal Jamm" class="site-logo" /></a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/a-propos">À propos</a></li>
      <li><a routerLink="/specialites">Spécialités</a></li>
      <li><a routerLink="/rechercher-un-medecin">Rechercher un Médecin</a></li>
      <li><a routerLink="/prendre-un-rendez-vous">Prendre un Rendez-vous</a></li>
       <li><a routerLink="/register">S'inscrire</a></li> 
       <li><a routerLink="/login">Se connecter</a></li>
    </ul>
  </nav>  -->
