<div class="confirmer-rv">
    <h1>Confirmer le Rendez-vous</h1>
    <form [formGroup]="rendezvousForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="date">Date</label>
        <input type="date" id="date" formControlName="date">
      </div>
      <div>
        <label for="heure">Heure</label>
        <input type="time" id="heure" formControlName="heure">
      </div>
      <div>
        <label for="lieu">Lieu</label>
        <input type="text" id="lieu" formControlName="lieu">
      </div>
      <button type="submit">Confirmer RV</button>
    </form>
  </div>
 