<div class="dashboard-container">
    <header>
        <h1>Tableau de Bord Medecin</h1>
        <div class="user-info">
            <span>{{ userConnected.nom }}</span>
        </div>
    </header>
    <div class="cards-container">
        <div class="card">
            <h2 class="fw-bold"><strong>Rendez-vous du jour</strong></h2>
            <i class="fa-solid fa-calendar icon-size" aria-hidden="true"></i>
            <p class="mt-2">0</p>
        </div>
        <div class="card">
            <h2><strong>Nombre de patients</strong></h2>
            <i class="fa-solid fa-user  icon-size"></i>
            <p class="mt-2">0</p>
        </div>
        <div class="card">
            <h2><strong>Rendez-vous futurs</strong></h2>
            <i class="fa-solid fa-arrow-right icon-size" aria-hidden="true"></i>
            <p class="mt-2">0</p>
        </div>
    </div>
</div>
